<div class="banner">
	<div class="twitchlive">
		<iframe src="https://twitch.tv/prodjy43/embed" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
	</div>
	<div class="twitchchat">
		<iframe src="https://twitch.tv/prodjy43/chat?darkpopout=" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
	</div>
</div>
<div class="info_action">
	<ul>
		<li><%= link_to icon('heart') + ' Suivre ma chaine' %></li>
		<li><%= link_to icon('paypal') + ' Faire un don' %></li>
		<li><%= link_to icon('inbox') + ' Proposer un jeux' %></li>
	</ul>
</div>