// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: rgba(64, 72, 82,1.0);
$secondary: rgba(52, 152, 219,1.0);
$tertiary: rgba(41, 128, 185,1.0);
$text_primary: rgba(237,242,243,1.0);
$text_secondary: rgba(109,122,139,1.0);
$nav_height: 60px;

*{
	padding: 0;
	margin: 0;
	font-family: Open Sans, helvetica;
	font-size: 14px;
}

nav{
	width: 100%;
	height: $nav_height;
	background-color: $primary;
	box-shadow: 0 2px 10px rgba(109,122,139,.1);
	ul{
		li.logo{
			background-color: $secondary;
			margin-right: 20px;
			:hover{
				background-color: $tertiary;
			}
			a img{
				display: block;
				height: $nav_height - 20px;
				padding: 10px 0;
			}
		}
		li{
			display: inline-block;
			float: left;
			margin:0;
			a{
				display: block;
				padding:0 15px;
				text-align: center;
				height: $nav_height;
				line-height: $nav_height;
				font-weight: bolder;
				color: $text_secondary;
				text-decoration: none;
				transition: all 0.3s, transform 0.3s;
			}
			a:hover{
				color:$text_primary;
			}
		}
	}
}